#about-me {
	height: 100%;
	width: 100%;

	.about {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: 2fr 1fr 1fr;
		grid-gap: 1em;
		margin: 50px auto;
		width: 100%;

		.bio {
			grid-column: 2/7;
			font-size: 1em;
			width: 100%;
			align-self: center;

			p {
				text-align: justify;
			}
		}

		.pict {
			display: grid;
			grid-column: 8/12;
			grid-row: 1/2;
			align-items: start;
			justify-items: start;
			max-width: 500px;

			.link-git {
				position: relative;
				z-index: 1;
				justify-items: center;
				height: 275px;
				align-self: center;

				img {
					position: relative;
					height: 100%;
					width: 100%;
					overflow: hidden;
					@include cubicTransition();
					filter: grayscale(100%);
					border-radius: 4px;

					&:hover {
						transform: translateY(-5px);
						filter: grayscale(0%);
						box-shadow: rgba(72, 94, 116, 0.7) 0px 20px 30px -15px;
					}
				}
			}
		}

		.techs {
			display: grid;
			grid-column: 2/11;
			grid-row: 2/3;
			height: 150px;

			.tech-list {
				display: grid;
				grid-template-columns: repeat(3, minmax(140px, 200px));
				list-style: none;
				font-size: 14px;

				li {
					height: 20px;
					position: relative;
					padding-left: 20px;

					&:before {
						content: '▹';
						position: absolute;
						left: 0px;
						color: $third-color;
						font-size: 14px;
					}
				}
			}
		}

		.tldr {
			background-color: rgba(240, 240, 240, 0.7);
			height: 200px;
			width: 100%;
			max-width: 650px;
			padding: 20px;
			margin: 0 auto;
			text-align: center;
			color: $primary-color;
			position: relative;
			grid-row: 3/4;
			grid-column: 3/11;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;

			h3 {
				width: 100%;
				font-size: 22px;
				font-weight: 300;
				margin-bottom: 10px;
				color: inherit;
			}

			.tldr-items {
				display: flex;
				width: 100%;
				justify-content: space-around;

				.tldr-res {
					height: 100%;
					width: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;
					margin: 0px 10px 0 0;
					@include cubicTransition();

					&:hover {
						transform: translateY(-5px);
						box-shadow: $box-shadow;
						border-radius: 4px;

						.tldr-icon {
							@include cubicTransition();
							color: $third-color;
						}
					}

					&:nth-child(4) {
						margin: 0;
					}

					.tldr-icon {
						font-size: 50px;
						width: 50px;
						height: 50px;
						line-height: 50px;
						margin: 0 auto 10px;
					}
					h5 {
						font-weight: 300;
						font-size: 14px;
						text-transform: capitalize;
						letter-spacing: 0.5px;
					}
				}
			}
		}
	}
}
