// Colors
$primary-color: #000;
$secondary-color: #0a192f;
$third-color: #b87333;
$light-mode-blue: #007bff;
$light-mode-text-color: #444452;

// Divers
$show-home-image: true;
// $home-image: url(../img/bkg2.jpg);

$anim-text-offset: 1em;
$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-work: 'consolas', sans-serif;
$font-sfm: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console',
	Monaco, monospace;
$box-shadow: rgba(72, 94, 116, 0.7) 0px 20px 30px -15px;

// Background
$bg-color: linear-gradient(to top, #111, #000000);
$bkg-light-mode: #fff;
$fc-input-color: #111;
$bg-footer-color: linear-gradient(to bottom, #111, #000000);

//projects section
$img-url: url(../img/projects/project-1.jpg);
$img-url2: url(../img/projects/project-2.jpg);
$img-url3: url(../img/projects/project-3.jpg);

// transition animation
@mixin cubicTransition() {
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

// transition animation v2
@mixin cubicTransition2() {
	transition: 1.5s cubic-bezier(0.5, 0, 0, 1);
}

// checkboxes transition
@mixin checkUp() {
	transform: translateY(-44px);
}

// Set text color based on background lightness
@function set-text-color($color) {
	@if (lightness($color) > 50) {
		@return #000;
	} @else {
		@return #fff;
	}
}

// Set background-color
@mixin set-background($color) {
	background-color: $color;
	color: set-text-color($color);
}

// Responsive Media Mixins
@mixin mediaXs {
	@media screen and (max-width: 450px) {
		@content;
	}
}
@mixin mediaSm {
	@media screen and (max-width: 600px) {
		@content;
	}
}
@mixin mediaMd {
	@media screen and (max-width: 768px) {
		@content;
	}
}
@mixin mediaLg {
	@media screen and (min-width: 769px) and (max-width: 1170px) {
		@content;
	}
}
@mixin mediaXl {
	@media screen and (min-width: 1171px) and (max-width: 1600px) {
		@content;
	}
}
@mixin mediaXxl {
	@media screen and (min-width: 1601px) {
		@content;
	}
}
