#home {
	padding: 0px 0px 50px 0px !important;
	position: relative;

	&:after {
		content: '';
		height: 100vh;
		width: 100vw;
		background-image: url(../img/bkg-dark.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		display: block;
		filter: blur(2px);
		transition: 0.7s ease;
	}

	.content {
		position: absolute;
		z-index: 1;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		overflow: hidden;
		padding: 100px 300px;

		.title {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;

			h1 {
				font-size: 1.5rem;
				margin: 0px 0px 20px 3px;
				color: #eee;
			}

			h2 {
				font-size: 2.5rem;
				line-height: 1.1;
				margin: 0px;
			}

			h3 {
				font-size: 2.8rem;
				line-height: 1.1;
				color: rgb(136, 146, 176);
			}

			.desc {
				margin-top: 25px;
				max-width: 500px;
				font-style: italic;

				p {
					font-size: 1.3rem;
					margin: 0px 0px 15px;
				}
			}

			.button {
				width: 100%;
				margin-top: 20px;

				.btn,
				.cv-btn {
					width: 40%;
					color: white;
					background-color: rgba($third-color, 0.5);
					font-size: 1rem;
					font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono',
						'Lucida Console', Monaco, monospace;
					// line-height: 1;
					cursor: pointer;
					margin-top: 50px;
					border: 3px solid $third-color;
					border-radius: 4px;
					padding: 1rem 1.25rem;
					text-decoration: none;
					@include cubicTransition();
					display: flex;
					align-items: center;
					justify-content: space-between;

					&:hover {
						transform: translateY(-5px);
						box-shadow: $box-shadow;
					}

					.fas,
					.far {
						font-size: 1rem;
					}
				}

				.cv-btn {
					display: none;
				}
			}
		}
	}
}
