#home {
	padding: 0px 0px 50px 0px !important;

	&:after {
		content: '';
		height: 100vh;
		width: 100vw;
		background-image: url(../img/bkg2.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		display: block;
		filter: blur(10px);
		@include cubicTransition();
	}

	&:hover {
		&:after {
			filter: blur(0px);
		}
	}

	.content {
		position: absolute;
		z-index: 1;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		overflow: hidden;

		.switcher {
			margin: 20px 0px 0px 100px;
			width: 100%;
			height: 100px;

			.checkbox {
				opacity: 0;
				position: absolute;

				&:checked + .label .ball {
					transform: translateX(24px);
				}
			}
			.label {
				background-color: #111;
				display: flex;
				height: 26px;
				width: 50px;
				border-radius: 50px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 5px;
				position: relative;
			}

			.fa-moon {
				color: #c0c0c0;
			}

			.fa-sun {
				color: #f39c12;
			}

			.ball {
				width: 22px;
				height: 22px;
				background-color: #fff;
				position: absolute;
				top: 2px;
				left: 2px;
				border-radius: 50%;
				transition: transform 0.2s linear;
			}
		}

		.title {
			display: flex;
			align-items: flex-end;
			justify-content: center;
			height: 100px;
			width: 100%;
			z-index: 2;

			.lg-heading {
				background: $primary-color;
				font-weight: 900;
				font-size: 3rem;
				color: #fff;
				text-align: center;
				padding: 15px 20px;
				@include cubicTransition();
				border-radius: 4px;

				&:hover {
					transform: translateY(-5px);
					box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
				}

				span {
					color: $third-color;
					font-weight: 300;
				}
			}
		}

		.typing-text {
			height: 100px;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: flex-end;

			.text {
				font-size: 1rem;
				padding: 20px;
				height: 70px;
				width: 100%;
				text-align: center;
			}
		}

		.mouse {
			width: 100%;
			height: 100px;
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
			margin-top: 50px;

			//scroll down animation
			.scrollDown {
				position: relative;
				display: flex;
				flex-direction: column-reverse;
				align-items: center;
				justify-content: center;
				animation: animateScroll 1s ease alternate infinite;
				margin: 0px 100px 0px 0px;

				a {
					position: relative;
					transform: scale(0.7);
					width: 60px;
					height: 90px;
					border-radius: 25px;
					background: transparent;
					border: 4px solid #fff;

					&:before {
						content: '';
						position: absolute;
						width: 6px;
						height: 6px;
						border-radius: 50%;
						background: #fff;
						left: 50%;
						top: 10px;
						transform: translate(-50%, 0);
						animation: animate 1s linear infinite;
					}
					&:after {
						content: '';
						position: absolute;
						width: 8px;
						height: 23px;
						border-radius: 50%;
						background: #fff;
						left: 50%;
						top: 5px;
						transform: translate(-50%, 0);
						border-radius: 3px;
					}
				}

				@keyframes animate {
					0% {
						transform: translate(-50%, 10px);
						opacity: 0;
					}
					80% {
						transform: translate(-50%, 50px);
						opacity: 1;
					}
					100% {
						transform: translate(-50%, 60px);
						opacity: 0;
					}
				}

				@keyframes animateScroll {
					0% {
						opacity: 0.1;
					}
					100% {
						opacity: 1;
					}
				}
			}
		}
	}
}
