// widescreens min 1601px
@include mediaXxl {
	#home {
		.title {
			.lg-heading {
				font-size: 6.5rem !important;
			}
		}
		.typing-text {
			align-items: center !important;
			.text {
				font-size: 1.5rem !important;
			}
		}
	}
	#about-me {
		.about {
			.bio {
				font-size: 1.1rem;
			}

			.techs {
				p {
					font-size: 1.1em;
				}

				.tech-list {
					margin-top: 20px;
					font-size: 1.1em;
					li {
						margin-bottom: 10px;
					}
				}
			}
		}
	}
}

// widescreens min 1171px to max 1600px
@include mediaXl {
	#home {
		.title {
			.lg-heading {
				font-size: 5.5rem !important;
			}
		}
		.typing-text {
			align-items: center !important;
			.text {
				font-size: 1.5rem !important;
			}
		}
	}
	#contact {
		.wrapper {
			display: flex;
			justify-content: space-between;

			& > * {
				padding: 2em;
			}

			.info {
				h3,
				ul {
					text-align: center;
				}
			}
			.contact {
				width: 50%;
				padding: 0;
				font-size: 1em;

				#form {
					max-width: 100%;

					.checkboxes {
						display: flex;
						justify-content: space-around;
						font-size: 1rem;

						.ckeck {
							padding: 0;
						}
					}

					#entity {
						width: 100%;
						display: block;
					}
				}
			}
		}
	}
}

// Desktops & Laptops min 769px max 1170px
@include mediaLg {
	#home {
		.title {
			.lg-heading {
				font-size: 4rem !important;
			}
		}
		.typing-text {
			align-items: center !important;
			.text {
				font-size: 1.5rem !important;
			}
		}
	}
	#services {
		.downSide {
			.service-title {
				font-size: 14px !important;
			}
			.code-sign {
				font-size: 2.6rem !important;
			}
		}
	}
	#contact {
		.brand {
			text-align: left;
		}
		.wrapper {
			max-width: 100%;

			& > * {
				padding: 2em;
			}

			.info {
				width: 50%;
				font-size: 1.3rem;
				padding: 0;

				h3,
				ul {
					text-align: center;
				}
			}
			.contact {
				width: 50%;
				padding: 0;
				font-size: 1em;

				#form {
					max-width: 100%;

					.checkboxes {
						display: flex;
						justify-content: center;
						flex-wrap: wrap;
						font-size: 1rem;
						width: 100%;

						.ckeck {
							padding: 0;
						}
					}

					#entity {
						width: 100%;
						display: block;
					}
				}
			}
		}
	}
}

// Tablets & small Laptops min 601px max 768px
@include mediaMd {
	//Navbar
	#header {
		padding: 0px 25px;
		top: 0;
		.navbar {
			padding: 0px;
			display: flex;
			justify-content: space-between;

			.logo {
				display: block;
			}

			.navlink {
				display: none;
			}

			.burger {
				display: block;
			}
		}

		.side-container {
			display: block;
		}
	}

	//Side bars
	.left-side-container {
		display: none;
	}
	.right-side-container {
		display: none;
	}

	//main content
	#container {
		height: 100%;
		width: 100%;
		display: block;

		.main {
			padding: 0px 75px !important;

			//Showcase
			#home {
				.content {
					display: flex;
					align-items: center;
					justify-content: space-around;

					.switcher {
						padding: 0;
					}

					.title {
						margin-bottom: 50px;
						h1 {
							font-size: 4em;
						}
					}
					.text {
						h2 {
							width: 100%;
						}
					}

					.typing-text {
						display: flex;
						align-items: flex-start;
					}

					.mouse {
						display: none;
					}
				}
			}

			// Services
			#services {
				.downSide {
					width: 100%;
					padding: 0;

					.services-container {
						display: grid;
						grid-template-columns: repeat(2, 1fr) !important;
						grid-gap: 1rem;
						margin: 20px auto;

						.service-box {
							min-width: 100% !important;
							margin: 12px 0px;
						}
					}
				}
			}

			// about me
			#about-me {
				margin-top: 50px;
				.about {
					display: grid;
					grid-template-columns: 1fr;
					grid-template-rows: 2fr 1fr 1fr;
					grid-template-areas:
						'pict'
						'bio'
						'techs'
						'tldr';
					align-items: center;
					justify-items: center;

					.pict {
						grid-area: pict;
						width: 60%;
						min-width: 345px;
					}

					.bio {
						grid-area: bio;
						padding: 10px;
					}

					.techs {
						grid-area: techs;
						.tech-list {
							width: 80%;
							margin: 0px auto;
							justify-self: center;

							li:nth-child(1) {
								font-size: 0;

								&:after {
									content: 'JS(ES5 & 6)';
									font-size: 14px;
								}
							}
							li:nth-child(5) {
								font-size: 0;

								&:after {
									content: 'Html & scss';
									font-size: 14px;
								}
							}
						}
					}

					.tldr {
						grid-area: tldr;
					}
				}
			}

			//works
			#works {
				padding: 100px 0px;
				.works {
					.work {
						margin-bottom: 75px !important;
						min-height: 100% !important;

						.work-info {
							grid-column: 1 / -1 !important;
							padding: 30px 25px 20px !important;
							position: relative;
							font-size: 0.9em;
							z-index: 2;

							.desc {
								background-color: transparent !important;
								box-shadow: none !important;
								padding: 20px 0px !important;
							}

							h5 {
								font-size: 18px !important;
							}

							.tech-list {
								margin: 0;
							}

							.link-wrapper {
								margin: 0;
							}
						}
						.work-pict {
							opacity: 0.25;
							grid-column: 1 / -1 !important;

							.image {
								min-height: 100% !important;
								img {
									max-width: 100%;
									vertical-align: middle;
									height: 100%;
								}
							}
						}
					}
				}
			}

			// Contact form
			#contact {
				.wrapper {
					display: flex;
					flex-direction: column;

					.contact {
						padding: 0px 20px;
						form {
							display: grid;
							grid-template-columns: 1fr;
							width: 100%;

							.form-control {
								grid-column: 1/3;
							}
						}
					}
				}
			}
		}

		#footer {
			.social-ntw {
				display: flex;

				li {
					margin: 0px 10px;
				}
			}
		}
	}
}

// Smartphones min 451px max 600px
@include mediaSm {
	.light {
		.desc {
			color: $light-mode-text-color !important;
		}
	}
	#container {
		width: 100vw !important;
		.main {
			padding: 0px 50px !important;
			height: 100%;
			width: 100%;

			.heading {
				font-size: 1.35em !important;
			}

			// Services
			#services {
				width: 100%;
				.downSide {
					width: 100%;
					padding: 0;

					.services-container {
						display: block !important;
						width: 100% !important;
						padding: 50px;
						padding-top: 0px;
						padding-bottom: 0px;
					}

					.service-box {
						display: flex !important;
						flex-direction: column;
						align-items: center !important;
						justify-content: space-around;
						width: 100%;

						.service-icon {
							font-size: 2.5em;
						}

						.service-title {
							width: 100%;
							font-size: 1.4em !important;
						}

						.service-desc {
							font-size: 1.2em;
						}

						&:last-child {
							.code-sign {
								font-size: 1.5em;
							}
						}
					}
				}
			}
			// about me
			#about-me {
				margin-top: 50px;
				padding: 1rem;
				width: 100%;
				.about {
					display: block;

					.bio {
						width: 100%;
					}

					.pict {
						margin: 0px 60px 20px 60px;

						.link-git {
							display: inline-block;
						}
					}

					.techs {
						margin-bottom: 20px;
					}
				}
			}
			//works
			#works {
				padding: 100px 0px;
				.works {
					.work {
						margin-bottom: 75px !important;

						.work-info {
							grid-column: 1 / -1 !important;
							padding: 30px 25px 20px !important;
							position: relative;
							font-size: 0.9em;
							z-index: 2;

							.desc {
								background-color: transparent !important;
								box-shadow: none !important;
								padding: 20px 0px !important;
							}

							h5 {
								font-size: 18px !important;
							}
						}
						.work-pict {
							opacity: 0.25;
							grid-column: 1 / -1 !important;

							.image {
								min-height: 100% !important;
								img {
									max-width: 100%;
									vertical-align: middle;
									height: 100%;
								}
							}
						}
					}
				}
			}
			// Contact form
			#contact {
				.contact {
					padding: 0px 10px;
					form {
						display: grid;
						grid-template-columns: 1fr;
						width: 100%;

						.form-control {
							grid-column: 1/3;

							.checkboxes {
								// width: 100%;
								display: block;
							}
						}
					}
				}
			}
		}
		//footer
		#footer {
			.content-footer {
				.social-ntw {
					display: flex !important;
					justify-content: center;
				}
			}
		}
	}
}

//Smartphones under 450px
@include mediaXs {
	#header {
		.side-menu {
			padding: 5px !important;
		}
	}
	#container {
		.main {
			padding: 0px 15px !important;

			.heading {
				font-size: 1.3em !important;
			}

			// Home
			#home {
				height: 100vh;
				width: 100vw;
				.content {
					.switcher {
						margin-left: 20px;
					}
					.title h1 {
						font-size: 2.2rem;
					}
					.typing-text {
						display: flex;
						align-items: flex-start;
					}
				}
			}

			// Services
			#services {
				display: block;
				.downSide {
					width: 100%;
					padding: 0;

					.services-container {
						display: block !important;
						width: 100% !important;
						padding: 10px;
						padding-top: 0px;
						padding-bottom: 0px;
					}

					.service-box {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: space-around;
						padding: 0 !important;

						.service-icon {
							font-size: 1.9em;
						}

						.service-title {
							font-size: 0.95rem !important;
						}

						.service-desc {
							font-size: 1.1em;
						}

						&:last-child {
							.code-sign {
								font-size: 1.5em;
							}
						}
					}
				}
			}

			// About
			#about-me {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
				.about {
					.pict {
						margin: 0;
						min-width: auto;
						width: 100%;
						margin-bottom: 25px;
					}
					.techs {
						margin-bottom: 25px;
						padding: 10px;
						height: 100%;

						p {
							margin-bottom: 10px;
						}

						.tech-list {
							margin: 0;
							display: grid;
							grid-template-columns: 1fr 1fr;
							grid-template-rows: 1fr 1fr;
						}
					}
					.tldr {
						margin-bottom: 25px;
						height: 100%;
						width: 100%;
						.tldr-items {
							display: block;

							.tldr-res {
								width: 100%;
								display: flex;
								// justify-content: center;
								align-items: center;
								font-size: 16px;
								flex-direction: row;

								.tldr-icon {
									margin: 0;
									margin-right: 20px;
									font-size: 2em;
								}
							}
						}
					}
				}
			}

			// Works
			#works {
				padding: 0;
				.works {
					padding: 0;

					.work {
						min-height: 400px !important;

						.work-info {
							padding: 40px 25px 50px !important;

							.tech-list {
								margin-bottom: 20px;
							}
						}
					}
				}
			}

			// Form
			#contact {
				display: flex;
				flex-direction: column;
				justify-content: center;

				.info {
					font-size: 1.2em;

					.fas span {
						font-size: 1rem;
					}
				}

				#entity {
					display: block;

					.check {
						padding: 0;
					}
				}

				#form {
					width: 100%;

					.btn {
						button {
							font-size: 0.6rem;
						}
					}
				}

				.full {
					width: 100%;
				}
			}
		}

		//footer
		#footer {
			.content-footer {
				.social-ntw {
					display: flex !important;
					justify-content: center;
				}
				.credits {
					padding: 0;
					font-size: 0.7em;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}
}
