// widescreens min 1601px
@include mediaXxl {
	#home {
		.title {
			.lg-heading {
				font-size: 6.5rem !important;
			}
		}
	}
	#about-me {
		.about {
			.bio {
				font-size: 1.1rem;
			}

			.techs {
				p {
					font-size: 1.1em;
				}

				.tech-list {
					margin-top: 20px;
					font-size: 1.1em;
					li {
						margin-bottom: 10px;
					}
				}
			}
		}
	}
}

// widescreens min 1171px to max 1600px
@include mediaXl {
	#home {
		.content {
			padding: 0px 150px;
		}
	}
	#contact {
		.wrapper {
			display: flex;
			justify-content: space-between;

			& > * {
				padding: 2em;
			}

			.info {
				h3,
				ul {
					text-align: center;
				}
			}
			.contact {
				width: 50%;
				padding: 0;
				font-size: 1em;

				#form {
					max-width: 100%;

					.checkboxes {
						display: flex;
						justify-content: space-around;
						font-size: 1rem;

						.ckeck {
							padding: 0;
						}
					}

					#entity {
						width: 100%;
						display: block;
					}
				}
			}
		}
	}
}

// Desktops & Laptops min 769px max 1170px
@include mediaLg {
	.light {
		.lg-heading {
			display: none !important;
		}
	}
	#header {
		padding: 0px 50px;
		.navbar {
			.lg-heading {
				display: none;
			}

			.lg-heading-initials {
				display: flex;
				align-items: center;
				font-size: 2rem;
				font-family: 'Permanent Marker', cursive;
				transition: 0.7s ease;

				.text-secondary-initial {
					color: $third-color;
					transition: 0.7s ease;
				}
			}

			//navbar links
			.navlink {
				display: flex;
				justify-content: space-evenly;
				.links {
					.list-items {
						font-size: 13px;
						margin: 0;
						.list-link {
							margin-right: 5px;
							&:before {
								margin-right: 10px;
							}
						}
					}
				}

				.switcher {
					padding-left: 10px;
				}

				.cv {
					font-size: 13px;
				}
			}
		}
	}
	.main {
		padding: 0px 100px !important;

		#home {
			.content {
				padding: 0px 100px;

				.title {
					margin-bottom: 50px;
					h1 {
						font-size: 1.5rem;
					}

					h2 {
						font-size: 2.25rem;
					}

					h3 {
						font-size: 3.25rem;
					}

					.button {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						.btn,
						.cv-btn {
							color: white;
							width: 50%;
						}

						.cv-btn {
							display: none;
						}
					}
				}
			}
		}

		#works {
			.works {
				padding: 0;
			}
		}

		#services {
			.downSide {
				.service-title {
					font-size: 14px !important;
				}
				.code-sign {
					font-size: 2.6rem !important;
				}
			}
		}
		#contact {
			.brand {
				text-align: left;
			}
			.wrapper {
				max-width: 100%;

				& > * {
					padding: 2em;
				}

				.info {
					width: 50%;
					font-size: 1.3rem;
					padding: 0;

					h3,
					ul {
						text-align: center;
					}
				}
				.contact {
					width: 50%;
					padding: 0;
					font-size: 1em;

					#form {
						max-width: 100%;

						.checkboxes {
							display: flex;
							justify-content: center;
							flex-wrap: wrap;
							font-size: 1rem;
							width: 100%;

							.ckeck {
								padding: 0;
							}
						}

						#entity {
							width: 100%;
							display: block;
						}
					}
				}
			}
		}
	}
}

// Tablets & small Laptops min 601px max 768px
@include mediaMd {
	.light {
		.lg-heading {
			display: none !important;
		}
		.lg-heading-initials {
			display: flex !important;
		}

		.work-info .desc {
			color: $primary-color !important;
		}
	}
	//Navbar
	#header {
		.lg-heading {
			display: none !important;
		}

		.navbar {
			padding: 0px;
			display: flex;
			justify-content: space-between;

			.lg-heading-initials {
				display: flex;
				align-items: center;
				font-size: 2rem;
				font-family: 'Permanent Marker', cursive;
				transition: 0.7s ease;

				.text-secondary-initial {
					color: $third-color;
					transition: 0.7s ease;
				}
			}

			.navlink {
				display: flex;
				justify-content: space-evenly;
				.links {
					display: none;
					.list-items {
						font-size: 13px;
						margin: 0;
						.list-link {
							margin-right: 5px;
							&:before {
								margin-right: 10px;
							}
						}
					}
				}

				.switcher {
					padding-left: 30px;
				}

				.cv {
					display: none;
				}
			}

			.burger {
				display: block;
			}
		}
	}

	//Side bars
	.left-side-container {
		display: none;
	}
	.right-side-container {
		display: none;
	}

	.scroll-to-top {
		bottom: 2.5% !important;
		right: 2.5% !important;
	}

	//main content
	#container {
		height: 100%;
		width: 100%;
		display: block;

		.main {
			padding: 0px 75px !important;

			//Showcase
			#home {
				.content {
					padding: 0px 75px;
					display: flex;
					align-items: center;
					justify-content: space-around;

					.title {
						margin-bottom: 50px;
						h1 {
							font-size: 1.5rem;
						}

						h2 {
							font-size: 2.25rem;
						}

						h3 {
							font-size: 3.25rem;
						}

						.button {
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;
							.btn,
							.cv-btn {
								color: white;
								width: 75%;
							}

							.cv-btn {
								display: flex;
							}
						}
					}
				}
			}

			// Services
			#services {
				.downSide {
					width: 100%;
					padding: 0;

					.services-container {
						display: grid;
						grid-template-columns: repeat(2, 1fr) !important;
						grid-gap: 1rem;
						margin: 20px auto;

						.service-box {
							min-width: 100% !important;
							margin: 12px 0px;
						}
					}
				}
			}

			// about me
			#about-me {
				margin-top: 50px;
				.about {
					display: grid;
					grid-template-columns: 1fr;
					grid-template-rows: 2fr 1fr 1fr;
					grid-template-areas:
						'pict'
						'bio'
						'techs'
						'tldr';
					align-items: center;
					justify-items: center;

					.pict {
						grid-area: pict;
						width: 60%;
						min-width: 345px;
					}

					.bio {
						grid-area: bio;
						padding: 10px;
					}

					.techs {
						grid-area: techs;

						p {
							padding: 10px 0px;
						}
						.tech-list {
							width: 80%;
							margin: 0px auto;
							justify-self: center;

							li:nth-child(1) {
								font-size: 0;

								&:after {
									content: 'JS(ES5 & 6)';
									font-size: 14px;
								}
							}
							li:nth-child(5) {
								font-size: 0;

								&:after {
									content: 'Html & scss';
									font-size: 14px;
								}
							}
						}
					}

					.tldr {
						grid-area: tldr;
					}
				}
			}

			//works
			#works {
				.works {
					padding: 0;

					.work {
						margin-bottom: 75px !important;

						.work-info {
							grid-column: 1 / -1 !important;
							padding: 30px 25px 20px !important;
							position: relative;
							font-size: 0.9em;
							z-index: 2;

							.desc {
								background-color: rgba($secondary-color, 0.29) !important;
								box-shadow: $box-shadow;
								padding: 10px !important;
							}

							h5 {
								font-size: 18px !important;
							}

							.link-wrapper {
								margin: 0;
							}
						}
						.work-pict {
							opacity: 0.5;
							grid-column: 1 / -1 !important;
							filter: grayscale(10%) contrast(1) brightness(90%);

							.image {
								min-height: 100% !important;
								img {
									max-width: 100%;
									vertical-align: middle;
									height: 100%;
								}
							}
						}
					}
				}
			}

			// Contact form
			#contact {
				.wrapper {
					display: flex;
					flex-direction: column;

					.contact {
						padding: 0px 20px;
						form {
							display: grid;
							grid-template-columns: 1fr;
							width: 100%;

							.form-control {
								grid-column: 1/3;
							}
						}
					}
				}
			}
		}

		#footer {
			.social-ntw {
				display: flex;

				li {
					margin: 0px 10px;
				}
			}
		}
	}
}

// Smartphones min 451px max 600px
@include mediaSm {
	.light {
		.desc {
			color: $light-mode-text-color !important;
		}

		.lg-heading {
			display: none !important;
		}
	}
	#container {
		width: 100vw !important;
		.main {
			padding: 0px 50px !important;
			height: 100%;
			width: 100%;

			// Home
			#home {
				.content {
					padding: 0px 15px;
				}
			}

			// Services
			#services {
				.downSide {
					width: 100%;
					padding: 0;

					.services-container {
						display: flex !important;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						width: 100% !important;
						padding: 50px;
						padding-top: 0px;
						padding-bottom: 0px;
						height: 100%;
					}

					.service-box {
						display: flex !important;
						flex-direction: column;
						align-items: center !important;
						justify-content: space-around;
						width: 100%;

						.service-icon {
							font-size: 2.5em;
						}

						.service-title {
							width: 100%;
							font-size: 1.4em !important;
						}

						.service-desc {
							font-size: 1.2em;
						}

						&:last-child {
							.code-sign {
								font-size: 1.5em;
							}
						}
					}
				}
			}
			// about me
			#about-me {
				margin-top: 50px;
				padding: 1rem;
				width: 100%;
				height: 100%;

				.about {
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					align-items: center;
					width: 100%;
					margin: 0;

					.bio {
						width: 100%;
						padding: 0;
					}

					.pict {
						margin: 0px 60px 20px 60px;

						.link-git {
							display: inline-block;
						}
					}

					.techs {
						margin-bottom: 60px;

						p {
							text-align: left;
						}

						.tech-list {
							display: grid;
							grid-template-columns: auto auto;
						}
					}

					.tldr {
						display: block;
					}
				}
			}
			//works
			#works {
				padding: 100px 0px;
				.works {
					.work {
						margin-bottom: 75px !important;

						.work-info {
							grid-column: 1 / -1 !important;
							padding: 30px 25px 20px !important;
							position: relative;
							font-size: 0.9em;
							z-index: 2;

							.desc {
								background-color: transparent !important;
								box-shadow: none !important;
								padding: 20px 0px !important;
							}

							h5 {
								font-size: 18px !important;
							}
						}
						.work-pict {
							opacity: 0.5;
							grid-column: 1 / -1 !important;
							filter: grayscale(10%) contrast(1) brightness(90%);

							.image {
								min-height: 100% !important;
								img {
									max-width: 100%;
									vertical-align: middle;
									height: 100%;
								}
							}
						}
					}
				}
			}
			// Contact form
			#contact {
				.contact {
					padding: 0px 10px;
					form {
						display: grid;
						grid-template-columns: 1fr;
						width: 100%;

						.form-control {
							grid-column: 1/3;

							.checkboxes {
								// width: 100%;
								display: block;
							}
						}
					}
				}
			}
		}
		//footer
		#footer {
			.content-footer {
				.social-ntw {
					display: flex !important;
					justify-content: center;
				}
			}
		}
	}
}

//Smartphones under 450px
@include mediaXs {
	.scroll-to-top {
		display: none !important;
	}

	#header {
		padding: 0px 20px;
		bottom: 0;

		.side-menu {
			padding: 5px !important;
		}
	}

	#container {
		.main {
			padding: 0px 15px !important;

			// Home
			#home {
				.content {
					padding: 30px 0px 0px 0px;

					.title {
						padding: 0px 15px;
						margin: 0;
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						justify-content: flex-start;

						h1 {
							font-size: 1rem;
						}

						h2 {
							font-size: 2rem;
						}

						h3 {
							font-size: 2.3rem;
						}

						.desc {
							margin-top: 10px;
							font-size: 1rem;
						}

						.button {
							margin-top: 10px;
							display: flex;
							justify-content: start;
							.btn,
							.cv-btn {
								color: white;
								width: 100%;
								padding: 0.75rem 1.25rem;
								margin-top: 10px;
							}

							.cv-btn {
								display: flex;
							}
						}
					}
				}
			}

			// Services
			#services {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 100%;

				.downSide {
					padding: 0px 10px;
					margin: 0;
					display: block;

					.services-container {
						width: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
						flex-direction: column;
						padding: 0;

						.service-box {
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: space-around;
							padding: 0 !important;

							.service-icon {
								font-size: 1.9em;
							}

							.service-title {
								font-size: 1.1rem !important;
							}

							.service-desc {
								font-size: 1em;
							}

							&:last-child {
								.code-sign {
									font-size: 1em;
								}
							}
						}
					}
				}
			}

			// About
			#about-me {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
				padding: 0;

				.about {
					padding: 0px 10px;
					.pict {
						margin: 0;
						min-width: auto;
						width: 100%;
						margin-bottom: 25px;
					}
					.techs {
						margin-bottom: 25px;
						padding: 10px;
						height: 100%;

						p {
							margin-bottom: 10px;
						}

						.tech-list {
							margin: 0;
							display: grid;
							grid-template-columns: 1fr 1fr;
							grid-template-rows: 1fr 1fr;
						}
					}
					.tldr {
						margin-bottom: 25px;
						height: 100%;
						width: 100%;
						.tldr-items {
							display: block;

							.tldr-res {
								width: 100%;
								display: flex;
								// justify-content: center;
								align-items: center;
								font-size: 16px;
								flex-direction: row;

								.tldr-icon {
									margin: 0;
									margin-right: 20px;
									font-size: 2em;
								}
							}
						}
					}
				}
			}

			// Works
			#works {
				padding: 0;
				.works {
					padding: 0px 10px;

					.work {
						min-height: 400px !important;

						.work-info {
							padding: 40px 10px !important;

							.tech-list {
								margin-bottom: 20px;
							}
						}
					}
				}
			}

			// Form
			#contact {
				display: flex;
				flex-direction: column;
				justify-content: center;

				.wrapper {
					padding: 0px 10px;
					.info {
						font-size: 1.2em;
						padding: 0;

						.fas span {
							font-size: 1rem;
						}
					}

					.contact {
						padding: 0;

						#entity {
							display: block;

							.check {
								padding: 0;
							}
						}

						#form {
							width: 100%;

							.btn {
								button {
									font-size: 0.6rem;
								}
							}
						}

						.full {
							width: 100%;
						}
					}
				}
			}
		}

		//footer
		#footer {
			.content-footer {
				.social-ntw {
					display: flex !important;
					justify-content: center;
				}
				.credits {
					padding: 0;
					font-size: 0.7em;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}
}
