.left-side-container {
	width: 40px;
	height: 340px;
	position: fixed;
	bottom: 0px;
	left: 40px;
	right: auto;
	z-index: 10;
	color: rgb(168, 178, 209);

	.social-list {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px;
		margin: 0px;
		list-style: none;

		&:after {
			content: '';
			display: block;
			width: 1px;
			height: 90px;
			background-color: rgb(168, 178, 209);
			margin: 0px auto;
		}

		li {
			display: list-item;
			text-align: -webkit-match-parent;
			margin-bottom: 23px;

			&:last-of-type {
				margin-bottom: 20px;
			}

			.social-link {
				display: inline-block;
				text-decoration-skip-ink: auto;
				color: inherit;
				position: relative;
				cursor: pointer;
				text-decoration: none;
				padding: 10px;
				@include cubicTransition();

				&:hover {
					color: $third-color;
					@include cubicTransition();
					transform: translateY(-5px) scale(1.3);
				}

				.fab {
					font-size: 1.1rem;
				}
			}
		}
	}
}

.right-side-container {
	width: 40px;
	position: fixed;
	bottom: 0px;
	left: auto;
	right: 40px;
	z-index: 10;
	color: rgb(168, 178, 209);

	.email {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;

		&:after {
			content: '';
			display: block;
			width: 2px;
			height: 90px;
			background-color: rgb(168, 178, 209);
			margin: 0px auto;
		}

		.address {
			font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono',
				'Lucida Console', Monaco, monospace;
			font-size: 12px;
			letter-spacing: 0.2em;
			writing-mode: vertical-rl;
			margin: 20px auto;
			padding: 10px;
			position: relative;
			cursor: pointer;
			text-decoration: none;
			color: inherit;
			@include cubicTransition();

			&:hover {
				color: $third-color;
				transform: translateY(-5px);
			}
		}
	}

	// .email {
	// 	display: flex;
	// 	flex-direction: column;
	// 	align-items: center;
	// 	justify-content: flex-end;
	// 	position: relative;
	// 	height: 100%;

	// 	// &:after {
	// 	// 	content: '';
	// 	// 	display: block;
	// 	// 	width: 2px;
	// 	// 	height: 90px;
	// 	// 	background-color: rgb(168, 178, 209);
	// 	// 	margin: 0px auto;
	// 	// }

	// 	.address {
	// 		font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono',
	// 			'Lucida Console', Monaco, monospace;
	// 		font-size: 0.7rem;
	// 		letter-spacing: 0.1em;
	// 		-webkit-writing-mode: vertical-rl;
	// 		writing-mode: vertical-rl;
	// 		margin: auto;
	// 		padding: 10px;
	// 		text-decoration: none;
	// 		color: inherit;
	// 		@include cubicTransition();
	// 		display: flex;
	// 		justify-content: center;

	// 		&:hover {
	// 			color: $third-color;
	// 			transform: translateY(-5px);
	// 		}
	// 	}
	// }
}
