@import 'config';
@import 'preloader';
@import 'light_mode';
@import 'body';
@import 'menu';
@import 'side';
@import 'home';
@import 'services';
@import 'about';
@import 'works';
@import 'contact';
@import 'modal';
@import 'footer';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@import 'responsive';
